//! FONT
$font: (
  base: (
    Arial,
    Helvetica,
    sans-serif,
  ),
);

//? ----------------------------------------------

//! COLOR
$color: (
  mode: (
    light: #f5f8fa,
  ),
  text: (
    base: #333,
    light: #555,
    silver: #999,
  ),
  white: (
    base: #fff,
  ),
  black: (
    base: #000,
    light: #ccc,
    dark: #666,
  ),
  green: (
    base: #0ba25e,
    dark: #1a8a58,
  ),
  yellow: (
    base: #f1c40e,
    dark: #e2b400,
  ),
);

//? ----------------------------------------------

//! SIZE
$size: (
  small: 14,
  body: 16,
  btn: 20,
  h3: 22,
  h1: 44,
);
