*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.25;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: "normal";
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

.text_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-dark-gray {
  color: #666;
}

.text-highlight {
  color: #0ba25e;
}

.text-silver {
  color: #999;
}

.showing {
  opacity: 1 !important;
  visibility: visible !important;
}

.light-mode {
  background-color: #f5f8fa;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: "normal";
  color: #333;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn--green {
  background-color: #0ba25e;
}
.btn--green:hover {
  background-color: #1a8a58;
}
.btn--yellow {
  background-color: #f1c40e;
}
.btn--yellow:hover {
  background-color: #e2b400;
}
.btn--rounded {
  border-radius: 5rem;
}

.navbar {
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar__brand {
  display: flex;
  flex-wrap: "wrap";
  flex-direction: "initial";
  justify-content: "center";
  align-items: "center";
  padding: 15px;
}
.navbar__brand img {
  width: auto;
  height: 40px;
}
.navbar__list {
  display: flex;
  flex-wrap: "wrap";
  flex-direction: "initial";
  justify-content: "center";
  align-items: "center";
  margin-left: auto;
}
.navbar__list-item {
  position: relative;
  display: block;
}
.navbar__list-item:hover:before {
  opacity: 1;
  transform: scale(1);
  transition: 0.4s;
}
.navbar__list-item::before {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 20px;
  height: 2px;
  background-color: #1a8a58;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s;
}
.navbar__list-link {
  display: block;
  padding: 25px 15px;
  text-align: center;
  transition: 0.2s;
}
.navbar__list-link:hover {
  color: #0ba25e;
  transform: translateY(-10px);
  transition: 0.2s;
}
.navbar__list .btn-custom {
  margin-left: 10px;
}
.navbar__button {
  padding-left: 14px;
  padding-right: 14px;
  color: #fff;
}
.navbar__button span {
  display: block;
}
.navbar__button span:first-child {
  font-weight: 700;
  text-transform: uppercase;
}

.slider {
  margin-bottom: 10px;
  padding: 20px 0;
}
.slider__initialized {
  position: relative;
  min-height: 240px;
}
.slider__slick {
  position: absolute;
}
.slider__company {
  position: relative;
  display: block;
  height: 240px;
  border-radius: 1rem;
  overflow: hidden;
}
.slider__company-img {
  position: absolute;
  width: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
}
.slider__company-img img {
  width: 100%;
}
.slider__click {
  position: absolute;
  bottom: -23.3333333333px;
  width: 100%;
  display: flex;
  flex-wrap: "wrap";
  flex-direction: "initial";
  justify-content: "center";
  align-items: "center";
}
.slider__click .icon {
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.5;
}
.slider__click .icon:hover {
  opacity: 1;
}

.box-jobs {
  position: relative;
  background-color: #fff;
}
.box-jobs > h2 {
  margin: auto;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  font-size: 1.8rem;
  background-color: #0ba25e;
}
.box-jobs > h2 .icon {
  color: #f1c40e;
  font-size: 2.6rem;
  margin-right: 10px;
}
.box-jobs > h2 span {
  float: right;
  font-size: 1.4rem;
  line-height: 26px;
}
.box-jobs > h2 span:hover {
  color: rgba(255, 255, 255, 0.7);
}
.box-jobs .feature-jobs {
  position: relative;
  padding-bottom: 5px;
  min-height: 520px;
}
.box-jobs .feature-jobs__list-table {
  position: relative;
}
.box-jobs .feature-jobs__table-item {
  position: absolute;
  width: 100%;
  min-height: 520px;
  padding: 5px 20px;
}
.box-jobs .feature-jobs .feature-job {
  padding: 0 5px;
}
.box-jobs .feature-jobs .feature-job-item {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid rgba(237, 237, 237, 0.8);
  border-radius: 2px;
}
.box-jobs .feature-jobs .feature-job-item:hover {
  background-color: #f5f8fa;
}
.box-jobs .feature-jobs .feature-job-item .col-logo {
  padding-right: 0;
}
.box-jobs .feature-jobs .feature-job-item .col-logo .box-company-logo {
  width: 60px;
  height: 60px;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-wrap: "wrap";
  flex-direction: "initial";
  justify-content: "center";
  align-items: "center";
}
.box-jobs .feature-jobs .feature-job-item .col-title {
  padding-left: 0;
  font-size: 1.4rem;
}
.box-jobs .feature-jobs .feature-job-item .col-title .title-text b::before, .box-jobs .feature-jobs .feature-job-item .col-title .company span::before, .box-jobs .feature-jobs .feature-job-item .col-title .address::before {
  content: attr(title);
}
.box-jobs .feature-jobs .feature-job-item .col-title .title-text {
  margin-bottom: 3px;
}
.box-jobs .feature-jobs .feature-job-item .col-title .salary,
.box-jobs .feature-jobs .feature-job-item .col-title .address {
  padding-top: 5px;
}
.box-jobs .feature-jobs .feature-job-item .col-title .salary i,
.box-jobs .feature-jobs .feature-job-item .col-title .address i {
  margin-right: 5px;
}

@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
}
header .banner {
  padding: 10px;
}
header .banner__heading {
  padding-top: 20px;
}
header .banner__heading h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.4rem;
  font-weight: "bold";
  color: #0ba25e;
}
header .banner__heading h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  color: #0ba25e;
}
header .banner__heading p {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}
header .banner__heading .btn-custom {
  width: 200px;
  margin: 20px;
  margin-left: 0;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: "bold";
  color: #fff;
}
header .banner__img {
  padding-top: 10px;
  max-width: 75%;
}
header #search-job h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #0ba25e;
}
header #search-job .form-group {
  position: relative;
  margin-bottom: 12px;
}
header #search-job .form-group > i {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-55%);
  color: #555;
}
header #search-job .form-group .input-search {
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  padding-left: 50px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: "normal";
  color: #555;
}
header #search-job .form-group .input-search:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
header #search-job .btn-custom {
  width: 100%;
  height: 44px;
  margin-bottom: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  padding: 10px 15px;
}
header #search-job .btn-custom i {
  margin-right: 10px;
}
header #search-job .btn-custom:focus {
  outline: 5px auto #1a8a58;
  outline-offset: -2px;
}

#best-jobs {
  padding: 20px 0;
}
#best-jobs .feature-jobs {
  margin-bottom: 30px;
}
#best-jobs ul {
  position: absolute;
  bottom: -25px;
  padding-bottom: 5px;
  width: 100%;
  height: 30px;
  background-color: #fff;
}
